<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${playerId}"></title>
</head>
<body>
<p style="font-size:40pt;" th:text="${playerId}"></p>
<p style="font-size:30pt" id="healthBar01">10 Health</p>
<p style="font-size:30pt" id="hungerBar01">10 Food</p>
<p style="font-size:30pt" id="armorBar01">0 Armor</p>
<form action="#" th:action="@{/addHealth}" th:object="$player" method="GET">
    <input
            type="image"
            style="height:100px;width:450px"
            src="https://tswebaccount.z1.web.core.windows.net/IMG/Add_HP.png">
    </input>
</form>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='removeHpPlayer01()'
        src="https://tswebaccount.z1.web.core.windows.net/IMG/Remove_HP.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='addHungerpPlayer01()'
        src="https://tswebaccount.z1.web.core.windows.net/IMG/Fill_HungerP.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='removeHungerpPlayer01()'
        src="https://tswebaccount.z1.web.core.windows.net/IMG/Remove_HungerP.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='addApPlayer01()'
        src="https://tswebaccount.z1.web.core.windows.net/IMG/Add_AP.png">
</input>
</body>
</html>