<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=0.6, maximum-scale=0.6, user-scalable=0">
    <title th:text="${playerId}">Hier könnte Ihre Werbung stehen</title>
    <script type="text/javascript" src="/js/computePlayer.js"></script>
</head>
<body>
<p style="font-size:40pt;" th:text="${playerId}">Spieler</p>
<p style="font-size:30pt" th:text="${health}">Hier könnte Ihr Leben stehen</p>
<p style="font-size:30pt" th:text="${food}">Hier könnte Ihr Essen stehen</p>
<p style="font-size:30pt" th:text="${armor}">Hier könnte Ihre Rüstung stehen</p>
<input
        type="image"
        style="height:100px;width:450px"
        th:attr="onclick=|addHealth('${playerId}')|"
        src="/img/AddHealth.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='removeHealth()'
        src="/img/RemoveHealth.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='fillFood()'
        src="/img/FillFood.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='removeFood()'
        src="/img/RemoveFood.png">
</input>
<br><br>
<input
        type="image"
        style="height:100px;width:450px"
        onclick='addArmor()'
        src="/img/addArmor.png">
</input>
</body>
</html>
