<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Glücksrad</title>
    <script type="text/javascript" src="/js/computeLuckyWheel.js"></script>
</head>
<body style="background-color: lightgray">
<input type="submit" onclick="spinWheel()" value="Glücksrad drehen!">
<br>
<div id="playerDiv"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let playerId = /*[[${playerId}]]*/ "t";
    let health = /*[[${health}]]*/ "t";
    let food = /*[[${food}]]*/ "t";
    let armor = /*[[${armor}]]*/ "t";
    /*]]>*/

    let size = "40px";
    let imgHealthFilled = document.createElement("img");
    let imgHealthEmpty = document.createElement("img");
    let imgFoodFilled = document.createElement("img");
    let imgFoodEmpty = document.createElement("img");
    let imgArmorFilled = document.createElement("img");
    let imgArmorEmpty = document.createElement("img");

    imgHealthFilled.src = "../img/HealthFilled.png";
    imgHealthFilled.style.width = size;
    imgHealthFilled.style.height = size;
    imgHealthEmpty.src = "../img/HealthEmpty.png";
    imgHealthEmpty.style.width = size;
    imgHealthEmpty.style.height = size;
    imgFoodFilled.src = "../img/FoodFilled.png";
    imgFoodFilled.style.width = size;
    imgFoodFilled.style.height = size;
    imgFoodEmpty.src = "../img/FoodEmpty.png";
    imgFoodEmpty.style.width = size;
    imgFoodEmpty.style.height = size;
    imgArmorFilled.src = "../img/ArmorFilled.png";
    imgArmorFilled.style.width = size;
    imgArmorFilled.style.height = size;
    imgArmorEmpty.src = "../img/ArmorEmpty.png";
    imgArmorEmpty.style.width = size;
    imgArmorEmpty.style.height = size;

    let playerDiv = "";
    let playerNameDiv = ""
    playerNameDiv =
        "<div style=\"display:inline;\"> " +
        "<p style=\"font-size:40pt;display:inline;font-family: monospace;\">Spieler " + playerId + "</p><br><br>" +
        "</div>";
    let playerAttributesDiv = "<div style=display:inline;><div style='padding-right: 10px;'>";
    for (let j = 1; j < 11; j++) {
        playerAttributesDiv +=
            "<div id=\"p" + playerId + "h" + j + "\" style=\"display:inline;\"></div>";
    }
    playerAttributesDiv += "</div><br><div style='padding-right: 10px;'>";
    for (let j = 1; j < 11; j++) {
        playerAttributesDiv +=
            "<div id=\"p" + playerId + "f" + j + "\" style=\"display:inline;\"></div>";
    }
    playerAttributesDiv += "</div><br><div style='padding-right: 10px;'>";
    for (let j = 1; j < 11; j++) {
        playerAttributesDiv +=
            "<div id=\"p" + playerId + "a" + j + "\" style=\"display:inline;\"></div>";
    }
    playerAttributesDiv += "</div></div>";
    playerDiv = "<div>" + playerNameDiv + playerAttributesDiv + "</div>";
    document.getElementById("playerDiv").innerHTML = playerDiv;

    for (let k = 0; k < 11; k++) {
        for (let j = 1; j < 11; j++) {
            if (health == k) {
                let elemString = "p" + playerId + "h" + j
                if (health < j) {
                    document.getElementById(elemString).appendChild(imgHealthEmpty.cloneNode(true));
                } else {
                    document.getElementById(elemString).appendChild(imgHealthFilled.cloneNode(true));
                }
            }
            if (food == k) {
                let elemString = "p" + playerId + "f" + j
                if (food < j) {
                    document.getElementById(elemString).appendChild(imgFoodEmpty.cloneNode(true));
                } else {
                    document.getElementById(elemString).appendChild(imgFoodFilled.cloneNode(true));
                }
            }
            if (armor == k) {
                let elemString = "p" + playerId + "a" + j
                if (armor < j) {
                    document.getElementById(elemString).appendChild(imgArmorEmpty.cloneNode(true));
                } else {
                    document.getElementById(elemString).appendChild(imgArmorFilled.cloneNode(true));
                }
            }
        }
    }
</script>
</body>
</html>